body {
    width: 80%; /* Limita a largura a 80% da tela */
    margin: 0 auto; /* Centraliza o body horizontalmente */
    padding: 0; /* Remove padding padrão, se necessário */
}
.img-perfil{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 150px;
}

.infos{
    text-align: center;
    
}
.infos p{
    color: grey;
}
h1{
    
    color: #284288;
}
#Habilidades{
    display: inline-block;
    justify-content: space-between;
    width: 80px;
    margin-top: 20px;
    background-color: gray;
    border-radius: 0.2em;
    color: white;
}
#Projetos h1{
    text-align: left;
    font-size: 30px;
}

.card-projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-projetos .card{
    width: 25%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: left;
}
.card-projetos .card img{
    width: 100px;
    height: 150px;
    margin-left: 35px;
    margin-right: 35px;
}
h2{
    margin: 0;
    padding: 0;
}
